
<hr class="small">
    <!-- Footer -->
    <footer>
        <div class="container">

            <div class="row">

                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Come Visit.</strong>
                    </h4>
                    <p>29 Eiffel Street
                        <br>Renstown, Hammanskraal 0400</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (0027) 000-0000</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:zunguziramunetsi@gmail.com">zunguziramunetsi@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p id = "footer_nav">
                      <strong><%= link_to "Home", root_path %></strong>
                      <strong><%= link_to "About", about_path %></strong>
                      <strong><%= link_to "Blog", root_path %></strong>
                      <strong><%= link_to "Contact", contact_path %></strong>
                    </p>

                    <p class="text-muted">Copyright &copy; Hut of Code <%= Time.new.year %> </p>
                </div>
            </div>
        </div>

    </footer>
